/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.coverage
.phpcs
.DS_Store
.env
.env.backup
.phpunit.result.cache
.phpcs_reports.txt
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
phpmd.output.html
phpunit.coverage.xml
package-lock.json
